body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 50, 50);

}

input[type=text],
input[type=file] {
    width: 100%;
    padding: 14px 22px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgb(170, 166, 166);
}

textarea {
    width: 100%;
    padding: 70px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgb(170, 166, 166);
}

input[type=submit] {
    width: 98%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgb(39, 38, 38);
    color: white;

}